
<footer class="container">
<div align="right">
  <a href="/v1/logout" role="button" class="secondary">Logout</a>
</div>
  &copy; 2025 VISLOG SSP - Visual Logging for Self Sealing Provision: AICUE DATA LAB - All rights
  reserved
</footer>