<header class="container">
 <nav>
  <ul>
    <a href="/"><img src="/images/vislog_small.png" style="max-width:150px; margin-right: 30px;"/></a>
    <div>
      <h2 style="margin-bottom: 0;">VISLOG SSP</h2>
      <small style="margin-left: 20px;">by AICUE DATA LAB</small>
    </div>
  </ul>
 </nav>
  
  {{!-- <table>
    <tr>
      <td width="50%">
        <a href="/"><img src="/images/vispect.svg" style="max-width:150px"/></a>
      </td>
      <td>
        <h2>Visual Inspection AI</h2>
      </td>
    </tr>
  </table> --}}
</header>

