<header class="container">
 <nav>
  <ul>
    <a href="/"><img src="/images/vislog_small.png" style="max-width:150px; margin-right: 10px;"/></a>
    <h2>VISLOG SSP: Self Sealing Provision Image Logging</h2>
  </ul>
  <ul>
    <li><a hx-get="/v1/reportindex" hx-target="#mainBody">Reports</a></li>
  </ul>
 </nav>
  
  {{!-- <table>
    <tr>
      <td width="50%">
        <a href="/"><img src="/images/vispect.svg" style="max-width:150px"/></a>
      </td>
      <td>
        <h2>Visual Inspection AI</h2>
      </td>
    </tr>
  </table> --}}
</header>

